<!DOCTYPE html>
<html>

<head>
    <title>Presentation</title>
    <!-- Additional head elements -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('update_slide', function (data) {
            document.getElementById('slide_image').src = '/static/image_buffer/page_' + data.slide + '.png';
        });

        socket.on('redirect_home', function () {
            window.location.href = '/';  // Redirect to the home page
        });

    </script>

</head>

<body>
    <div id="slide_container">
        <img id="slide_image" src="{{ url_for('static', filename='image_buffer/page_' + slide|string + '.png') }}"
            alt="Slide">
    </div>
    <audio id="background_music" autoplay {{ 'paused' if not music_playing else '' }}>
        <source src="{{ url_for('static', filename='path/to/music.mp3') }}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

</body>

</html>