<!DOCTYPE html>
<html>

<head>
    <title>Presentation</title>
    <!-- Additional head elements -->
</head>

<body>
    <div id="slide_container">
        <img id="slide_image" src="{{ url_for('static', filename='image_buffer/page_' + slide|string + '.png') }}"
            alt="Slide">
    </div>
    <audio id="background_music" autoplay {{ 'paused' if not music_playing else '' }}>
        <source src="{{ url_for('static', filename='path/to/music.mp3') }}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <script>
        let timeoutDuration = 5000;  // 5 seconds for each slide as a starting point

        function changeSlide() {
            fetch('/change_slide', { method: 'POST' })
                .then(response => {
                    if (response.redirected) {
                        window.location.href = response.url;
                    } else {
                        return response.json();
                    }
                })
                .then(data => {
                    if (data) {
                        document.getElementById('slide_image').src = '/static/image_buffer/page_' + data.slide + '.png';
                        // Reset the timeout for the next slide
                        setTimeout(changeSlide, timeoutDuration);
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        function pollForCurrentSlide() {
            fetch('/current_slide')
                .then(response => response.json())
                .then(data => {
                    let slide = data.slide;
                    let slideImage = document.getElementById('slide_image');
                    if (slideImage.src != '/static/image_buffer/page_' + slide + '.png') {
                        slideImage.src = '/static/image_buffer/page_' + slide + '.png';
                    }
                })
                .catch(error => console.error('Error:', error));

            setTimeout(pollForCurrentSlide, 2000); // Poll every 2 seconds
        }

        // Start polling and the initial slide timeout
        pollForCurrentSlide();
        setTimeout(changeSlide, timeoutDuration);

    </script>
</body>

</html>